.advisory {
    padding-block: clamp(3.125rem, 2.348rem + 3.31vw, 5rem) clamp(5rem, 4.482rem + 2.21vw, 6.25rem);
    background: var(--color-gray);

    & h2 {
        max-width: 890px;
        margin: 25px 0 35px;

        @include mobile {
            margin: 20px 0 25px;
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 36px;

        @include tablet {
            gap: 15px;
        }

        &>li {
            width: calc(33% - 24px);
            min-height: 295px;
            padding: 30px;
            background: var(--color-white);
            border-radius: var(--border-radius);

            @include tablet {
                width: calc(50% - 8px);
                min-height: 245px;
            }

            @include mobile {
                width: 100%;
            }

            & .large {
                color: var(--color-blue);
                margin-bottom: 11px;
            }

            & p {
                font-size: 14px;
                font-weight: 400;
            }

            & ul,
            & ol {
                font-size: 14px;
                font-weight: 400;
                &>li {
                    margin: 0;
                }
            }
        }
    }
}