.founder {

    & .wrapper {
        margin-top: 25px;
        align-items: flex-start;
        gap: 60px;

        @include tablet {
            flex-direction: column;
            gap: 40px;

        }
    }

    & .column, & .founder-description {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include tablet {
            width: 100%;
            max-width: none;
        }

        & .button {
            margin-top: 35px;

            @include mobile {
                margin-top: 25px;
            }
        }
    }

    & .founder-blockquote {
        margin-top: 25px;
    }

}